<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EventHubConnectionString"
         value="Endpoint=sb://data-griffir-coffee-sb-ehs.servicebus.windows.net/;SharedAccessKeyName=coffeesendandlisten;SharedAccessKey=tNtz25o1q0UskNrZ7Stkl2iRHqgCdmACqmlaMXf+CPU=;EntityPath=coffee-eh"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>